[Unit]
Description=MariaDB container
Requires=docker.service
After=docker.service

[Service]
Restart=always

# Run image (create new environment)
#ExecStart=/usr/bin/docker run --env foo=bar --name cloud_mariadb debian
#ExecStop=/usr/bin/docker stop -t 2 cloud_mariadb ; /usr/bin/docker rm -f \
cloud_mariadb

# Resume container (keep its existing environment)
ExecStart=/usr/bin/docker start -a cloud_mariadb
ExecStop=/usr/bin/docker stop -t 2 cloud_mariadb

[Install]
WantedBy=multi-user.target